# Игнорируем файл с ключами
.env

virtual/

# Игнорируем временные файлы Python
__pycache__/

# Игнорируем папку настроек VS Code
.vscode/

# Игнорировать папку alembic и alembic.ini
/alembic/
/alembic.ini

#test
test_relations.py
roadmap-front.code-workspace
database.py
